.TourStart {
  font-family: "Inter";
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;
  border-radius: 16px !important;
  

  &--dark {
    background-color: $color-white; // sass-lint:disable-line variable-for-property
    color: $color-primary-text;
  }

  &__header {
    background-color: $color-brand-primary;
    color: $color-white;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 17.7px;
    padding: 16px;

    &--cancel {
      height: 40px;
    }
  }

  .steps-container{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
  }


  &__body {
    background-color: $color-white;
    color: $color-ecr-list-icon-active;
    font-family: "Inter";
    padding-left: 16px;
    padding-right: 16px;

    &--dark {
      background-color: $color-white; // sass-lint:disable-line variable-for-property
      color: $color-primary-text;
    }

    &--cancel {
      text-align: center;
    }
  }

  &__title {
    font-size: 25px;
    line-height: 34.05px;

    &--dark {
      max-width: 95%;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.79px;
    }
  }

  &__description {
    margin-right: 8px;
    margin-bottom: 15px;
    color: $color-ecr-list-icon-active;
    font-size: 12px;
    line-height: 16.34px;

    &--dark {
      color: $color-primary-text;
    }
  }

 

  &__separator {
    height: 1px;
    background-color: $color-dark-white;
    margin-top: 16px;
    margin-bottom: 16px;

    &--dark {
      margin-top: 20px;
      background-color: $color-white; // sass-lint:disable-line variable-for-property
    }
  }

  

  &__start-icon {
    margin-left: 6px;

    &--dark {
      margin-right: 6px;
      margin-left: 0;
    }
  }



  &__footer{
    display: flex;
    flex: 1;
    align-items: center;
    width: 100% !important;
    gap:8px;
    justify-content: flex-end;
    padding: 0px 16px 16px 16px;

    .space-between{
      justify-content: space-between;
      gap:0px;
    }

    &__cancel-button {
      outline: none;
  
      &--dark {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        outline: none;
  
        &:focus { // sass-lint:disable-line nesting-depth
          outline: none;
        }
      }
    }

    &__start-button {
    background-color: $color-tour-primary;
    color: $color-white;
    font-size: 12px;

    &:hover {
      background-color: $color-tour-primary;
      color: $color-white;
    }

    &:focus {
      outline: none;
      background-color: $color-tour-primary;
      color: $color-white;
    }

    &--dark {
      margin-top: 0;
      margin-bottom: 0;
      outline: none;

      &:focus { // sass-lint:disable-line nesting-depth
        outline: none;
      }
    }
  }
  }



  &__footer--cancel {
    text-align: center;
    justify-content: center;
    padding-top: 16px;
  }

  &__back-button {
    outline: none;

    &--dark {
      margin-top: 0;
      margin-bottom: 0;
      outline: none;

      &:focus { // sass-lint:disable-line nesting-depth
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__step-counter {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
  }

  &__cancel-title {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 16px;
    font-size: 25px;
    line-height: 34.05px;
  }


  &__yes-button {
    margin-left: 20px;
    outline: none;

    &--dark {
      margin-top: 0;
      margin-bottom: 0;
      outline: none;

      &:focus { // sass-lint:disable-line nesting-depth
        outline: none;
      }
    }
  }
}

.AppTourHighlight {
  border: 10px solid #00A0DF;
}

.Mask {
  color: transparent;
}
