.ListWidgetPage {
  .ListWidgetPage__button-group {
    padding-inline: 30px;
    padding-block: 6px;
    display: flex;
    justify-content: space-between;
    column-gap: 2px;
    background-color: #F9FAFB;
    border: 1px solid #F2F4F7;

    .btn {
      padding-inline: 18px;
      font-weight: 600;
    }
  }

  .ListWidgetPage__box {
    display: flex;

    .ActiveButton {
        background-color:#FFFFFF !important;
        box-shadow: 0px 2px 4px 0px rgba(52, 64, 81, 0.12);
    }

    .CardItemCounter {
      cursor: inherit;
    }
  }
}