.ListWidgetPage {
  .ListWidgetPage__button-group {
    padding-inline: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    column-gap: 2px;

    .btn {
      padding-inline: 18px;
      font-weight: 600;
    }
 }
}
