.AttributeListTable {

  .table{
    margin-top: 8px;
    thead {
      background-color: #fff !important;
      background-image: unset;
      background: unset;

      th{
        border: unset;
        padding: 16px;
      }
      
  
      td {
        border-left: 0;
        border-right: 0;

        ul{
          padding-inline-start: 0px;
        }
      }
  
      .columnResizer {
        border-bottom: 1px solid $color-border-grey;
      }
    }

    tbody{
      tr {
        td {
          background-color: #fff;
          border: 1px solid $color-border-grey;
          background-color: #fff !important;
          border-left: 0;
          border-right: 0;
          text-overflow: ellipsis;
          vertical-align: center !important;
          padding: 16px;
          font-size: 14px;
        }
      }
    }
  }

  margin-left: -8px;

  &__table {
    margin: 0;
  }

  &__th-lg {
    width: 45%;
  }

  &__th-md {
    width: 25%;
  }

  &__th-sm {
    width: 10%;
  }

  &__th-xs {
    width: 5%;
  }

  &__role-list {
    list-style-type: none;
    padding-inline-start: unset;
  }
}
