.UserRefsTable {

  .table{
    margin-top: 8px;
    thead {
      background-color: #fff !important;
      background-image: unset;
      background: unset;

      th{
        border: unset;
        padding: 16px;
      }
      
  
      td {
        border-left: 0;
        border-right: 0;

      
        
      }
  
      .columnResizer {
        border-bottom: 1px solid $color-border-grey;
      }
    }

    tbody{
      tr {
        background-color: rgb(255, 255, 255) !important;
        td {
          background-color: transparent !important; // Ensure background is transparent

          
          border: 1px solid $color-border-grey;
          border-left: 0;
          border-right: 0;
          text-overflow: ellipsis;
          vertical-align: center !important;
          padding: 16px;
          font-size: 14px;
        }

        &:hover{
          background-color:#D7F2FE !important;

          td {
            background-color: transparent !important; // Ensure td does not override tr:hover
          }
        }
      }
    }
  }

  &__table {
    margin: 0;
  }

  &__th-lg {
    width: 45%;
  }

  &__th-md {
    width: 25%;
  }

  &__th-sm {
    width: 10%;
  }

  &__th-xs {
    width: 5%;
  }
}
