//sass-lint:disable class-name-format nesting-depth force-element-nesting no-important
.ComponentListPage {
  height: 100%;

  & > .container-fluid {
    height: 100%;
    padding: 0;

    &.container-cards-pf {
      margin-top: 0;
    }

    & > .container-fluid {
      padding: 0;
    }
  }

  .PageTitle {
    &__header {
      border-bottom: 0;
    }

    &::after {
      top: 66px;
    }
  }


  &__body {
    padding: 0 20px 20px 20px;
  }


  &__container-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }

  &__container-header-title {
    color: $color-black;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
  }

  &__container-header-actionbar {
    display: flex;
    font-size: 12px;

    .btn {
      font-size: 12px;
    }

    & > div {
      padding: 0 20px;
    }

    & > div:first-child {
      display: flex;
      align-items: flex-start;
    }

    & > div:last-child {
      padding-right: 0;
    }

    .SearchForm__container {
      height: 30px;
    }

    .TabBarFilter {
      align-items: center;
    }

    .FilterType button {
      height: 30px;
      border: solid 1px $color-ecr-list-icon !important;
      border-right: 0 !important;
      box-shadow: none;
    }
  }

  &__container-body {
    padding: 20px 15px;
  }

  &__refresh-button {
    margin-bottom: 20px;
  }

  &__refresh-icon {
    margin-left: 5px;
  }
}
