.ProfileTypeForm {
  &__required-fields {
    color: $color-pf-black-300;
    font-size: 12px;
  }

  &__add {
    height: 34px;
    margin-top: -15px;
  }

  // sass-lint:disable force-element-nesting, no-qualifying-elements, class-name-format

  input[name=code] {
    text-transform: uppercase;
  }
  // sass-lint:enable force-element-nesting, no-qualifying-elements, class-name-format

  .ProfileTypeForm__input-group-btn {
    top: 15px;
    vertical-align: top;
  }

  &__type-form-group {
      padding-inline: 20px;
      flex-wrap: wrap;

      select {
        height: 34px;
        width: calc(100% - 20px);
      }
  }
}
