.Button {
    display: flex;
    align-items: center;
    padding-inline: 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    border-radius: $spacing-8;
    gap: 8px;

    .btn-primary,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: $color-brand-primary;
        border: none;
    }

    &.clear {
        background-color: transparent;
        border: none;
        
        &:not(.secondary) {
            color: $color-brand-primary;
        }

        &.secondary {
            color: $color-text-secondary;
        }
    }
}