// sass-lint:disable class-name-format nesting-depth no-extends
.DashboardPage {

  .card-pf-body {
    a {
      color: $color-text-tertiary;
    }
  }

  .card-pf {
    @extend .div__border--solid-grey;
    border-radius: $spacing-4;

    .fa {
      margin-right: 5px;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }


    .separator {
      margin-right: 5px;
      margin-left: 15px;
    }
  }

  .card-pf-aggregate-status-count {
    font-size: 14px;
  }
}